
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutAgentV2.cshtml";

    var index = 0;
    var allSkus = ViewBag.allSkus as Dictionary<int, string>;
    var skuCounts = allSkus.ToDictionary(c => c.Key, c => 0);
}
@using QingFeng.Common
@model QingFeng.Common.ApiCore.Result.ApiPageList<QingFeng.Models.ProductBase>

<style type="text/css">
    table tbody td {
        text-align: center;
        vertical-align: middle !important;
    }

    #good_ids {
        display: none;
        height: 250px;
        width: 150px;
        position: absolute;
    }
</style>
<div class="page-header" id="filter_goods">
    <h1 class="form-inline">
        &nbsp;查询库存 <small>
            <i class="icon-search"></i> 筛选:
            <div class="form-group">
                <label class="sr-only" for="brand_id">品牌</label>
                <select name="brand_id" id="brand_id" class="form-control input-sm filter_goods">
                    <option value="0">品牌</option>
                    @foreach (var item in Enum.GetValues(typeof(AgentEnums.Brand)))
                    {
                        <option value="@item.GetHashCode()" @(ViewBag.brandId == item.GetHashCode() ? "selected" : "")>@item.ToString()</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="gender_id" class="sr-only">性别</label>
                <select id="gender_id" class="form-control input-sm filter_goods">
                    <option value="0">性别</option>
                    @foreach (var item in Enum.GetValues(typeof(AgentEnums.Sex)))
                    {
                        <option value="@item.GetHashCode()" @(ViewBag.sexId == item.GetHashCode() ? "selected" : "")>@item.ToString()</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="warehouse_id" class="sr-only">仓库</label>
                <select id="warehouse_id" class="form-control input-sm filter_goods">
                    <option value="0">仓库</option>
                    @foreach (var item in Enum.GetValues(typeof(AgentEnums.Warehouse)))
                    {
                        <option value="@item.GetHashCode()" @(ViewBag.warehouseId == item.GetHashCode() ? "selected" : "")>@item.ToString()</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="sr-only" for="goods_keyword">关键字</label>
                <input type="text" placeholder="请输入商品名称或货号" value="@ViewBag.keyWords" class="form-control" name="goods_ipt" id="goods_ipt">
                <input type="hidden" value="" class="form-control" name="goods_ids" id="ipt_goods_id">
                <select id="good_ids" class="form-control"></select>
            </div>

            <button type="button" class="btn btn-primary btn-sm " id="do-goods-filter">过滤</button>
        </small>
    </h1>
</div>
<!-- /.page-header -->
<!-- PAGE CONTENT BEGINS -->
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="center" rowspan="2">品名</th>
                <th class="center" rowspan="2">货号</th>
                <th class="center" rowspan="2">品牌</th>
                <th class="center" rowspan="2">性别</th>
                <th class="center" rowspan="2">仓库</th>
                <th class="center" rowspan="2">颜色</th>
                <th class="center" rowspan="2"> 小计</th>
                <th class="center" colspan="@allSkus.Count">尺码</th>
            </tr>
            <tr>
                @foreach (var item in allSkus)
                {
                    <th class="center">@item.Value</th>
                }
                @if (!allSkus.Any())
                {
                    <th class="center">-</th>
                }
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.PageList)
            {
                index = 0;
                int productCount = item.SubProduct.Count();
                foreach (var product in item.SubProduct)
                {
                    var dict = product.ProductStocks.GroupBy(t => t.SkuId).ToDictionary(c => c.Key, c => c.Sum(a => a.StockNum));
                    <tr align="center">
                        @if (index == 0)
                        {
                            <td rowspan="@productCount">@item.BaseName</td>
                            <td rowspan="@productCount">@item.BaseNo</td>
                            <td rowspan="@productCount">@item.BrandId.ToString()</td>
                            <td rowspan="@productCount">@item.SexId.ToString()</td>
                            <td rowspan="@productCount">E-TOP(XH)</td>
                        }
                        <td>@product.ProductNo</td>
                        <td>@product.StockNum</td>
                        @foreach (var sku in allSkus)
                        {
                            if (dict.ContainsKey(sku.Key))
                            {
                                skuCounts[sku.Key] += dict[sku.Key];
                                <td class="center">
                                    <a href="http://www.qingfeng.com/stock/edit?stockId=&warehouse_id=7" class="center edit-modal">@dict[sku.Key]</a>
                                </td>
                            }
                            else
                            {
                                <th class="center">0</th>
                            }
                        }
                        @if (!allSkus.Any())
                        {
                            <th class="center">-</th>
                        }
                    </tr>
                    index++;
                }
            }
            <tr align="center">
                <td colspan="6" class="text-right" style="padding-right: 28px;">合计</td>
                <td>@skuCounts.Sum(t => t.Value)</td>
                @foreach (var item in skuCounts)
                {
                    <td>@item.Value</td>
                }
                @if (!allSkus.Any())
                {
                    <th class="center">-</th>
                }
            </tr>
            <!--输出合计数量 end-->
        </tbody>
        @if (Model.PageCount > 1)
        {
            <tfoot>
                <tr align="center">
                    <td colspan="15">
                        @(Html.Raw(Model.GetPagerHtml(string.Format("/stock/search?pagesize=1&brandId={0}&sexId={1}&warehouseId={2}&page={3}", ViewBag.brandId, ViewBag.sexId, ViewBag.warehouseId, "{0}"))))
                    </td>
                </tr>
            </tfoot>
        }
    </table>
</div>
<!-- /.table-responsive -->
<!-- PAGE CONTENT ENDS -->

<script type="text/javascript">

    $(function () {
        $.etopConfirm();
        $.showModal({
            formId: 'stock-form',
            success: function (response, status) {
                if (response.error == 0) {
                    $('#etop-modal').modal('hide');
                    $('#etop-modal').on('hidden.bs.modal', function (e) {
                        $.pageReload();
                    });
                }
                else if (response.error == 9) {
                    var data = response.data;
                    var msg = '';
                    for (key in data) {
                        msg += data[key] + '\r\n';
                    }
                    alert(msg);
                    $('#etop-modal').modal('hide');
                    $('#etop-modal').on('hidden.bs.modal', function (e) {
                        $.pageReload();
                    });
                }
                else {
                    alert(response.msg);
                }
            },
            beforeSubmit: function (formData, jqForm, options) {
                /*var l = formData.length;
                for (var i=0; i < l; i++) {
                   if (!formData[i].value) {
                        alert('所有资料都不能为空的哦!亲');
                        return false;
                    }
                }  */
                return true;
            },
            selector: '.edit-modal, .add-modal',
        });

        $('#do-goods-filter').click(function () {
            var brand_id = $('#filter_goods #brand_id').val();
            var gender_id = $('#filter_goods #gender_id').val();
            var warehouse_id = $('#filter_goods #warehouse_id').val();
            var goods_keyword = $('#filter_goods #goods-search').val();
            var goods_id = $('#ipt_goods_id').val();

            if (brand_id <= 0 && gender_id <= 0 && warehouse_id <= 0 && goods_keyword == '') {
                alert('请选择或输入要过滤的条件！');
                return false;
            }

            var base_url = 'http://www.qingfeng.com/stock/search';
            var params = '?brandId=' + brand_id + '&sexId=' + gender_id + '&warehouseId=' + warehouse_id + '&baseId=' + goods_id;

            url = base_url + '/' + params;
            $.getPageContent({ url: url });
        });

        $('.pagination a').off('click').on('click', function () {
            var url = $(this).attr('href');
            $.getPageContent({ url: url });
            return false;
        });

        $('#goods_ipt').bind('input propertychange', function() {
            var categoryId = $("#gender_id").val();
            var val = $(this).val().trim();
            if (val === '') {
                $('.filter_goods').removeAttr('disabled');
                $('#ipt_goods_id').val('');
                $('#good_ids').hide();
                return;
            }
            $.getJSON('/stock/SearchGoods?keyWords=' + val, function(response) {
                if (response.ret !== 0) {
                    layer.msg('请求失败');
                    return;
                }
                var list = response.data;
                var options = '';
                $.each(list, function(i, item) {
                    options += '<option value=' + item.baseId + '>' + item.baseNo + '</option>';
                });
                $('#good_ids').html(options);
                $('#good_ids').show();
                good_ids.size = 25;
                $('#good_ids option').click(function() {
                    $('.filter_goods').attr('disabled', 'disabled');
                    val = $(this).html();
                    var id = $(this).val();
                    $('#goods_ipt').val(val);
                    $('#ipt_goods_id').val(id);
                    $('#good_ids').hide();
                });
            });
        });
    })
</script>
