
@{
    ViewBag.Title = "ColorList";
}

@model IEnumerable<QingFeng.Models.SkuItem>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>颜色ID</th>
                                <th>颜色名</th>
                                <th>当前状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ToList())
                            {
                                <tr>
                                    <td>@item.SkuId</td>
                                    <td>@item.SkuName</td>
                                    <td>@(item.Status == 0 ? "正常" : "删除")</td>
                                    <td>
                                        <button type="button" data-sku-status="@item.Status" data-sku-id="@item.SkuId" class="btn btn-primary btn-sm">@(item.Status == 0 ? "删除" : "恢复")</button>

                                    </td>
                                </tr>
                            }
                            @if (!Model.Any())
                            {
                                <tr>
                                    <td colspan="4" style="text-align: center">-暂无颜色数据-</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4" style="text-align: center"><button id="addSkuBtn" type="button" class="btn btn-primary btn-sm">添加商品颜色</button></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                <h5 class="modal-title">添加商品颜色</h5>
            </div>
            <div class="modal-body">
                <form class="form-horizontal m-t" id="signupForm">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">输入新的颜色 <i>*</i>：</label>
                        <div class="col-sm-5">
                            <input name="skuName" id="skuName" max="15" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-5 col-sm-offset-3">
                            <button class="btn btn-primary" id="addSkuEvent" type="button">保存</button>
                            <button class="btn btn-primary" id="closeModal" type="button">关闭</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("button[data-sku-id]").click(function () {
            var skuId = $(this).attr("data-sku-id");
            var skuStatus = $(this).attr("data-sku-status");

            $core.ajax.getJSON("/admin/updateSkuStatus", { skuId: skuId, status: skuStatus === "0" ? 1 : 0 }, function (data) {
                if (data === 1) {
                    layer.msg("修改成功", { success: function () { setTimeout(function () { location.reload() }, 1500) } });
                } else {
                    layer.msg("修改失败");
                }
            });
        });

        $("#addSkuBtn").click(function() {
            $("#myModal").modal("show");
        });

        $("#closeModal").click(function () {
            $("#myModal").modal("hide");
        });

        $("#addSkuEvent").click(function () {
            var skuName = $("#skuName").val().trim();
            if (skuName.length < 1) {
                layer.tips("请输入颜色名", $("#skuName"));
                return;
            }

            $core.ajax.postJSON("/admin/AddSku", { skuName: skuName, skuType: 1 }, function (data) {
                if (data === 1) {
                    layer.msg("添加成功", { success: function () { setTimeout(function () { location.reload() }, 1500) } });
                } else if(data===0) {
                    layer.msg("添加失败");
                } else if (data === 2) {
                    layer.tips("颜色已经存在,不能重复添加", $("#skuName"));
                } else {
                    layer.msg(this.message);
                }
            });
        });
    })
</script>