
@{
    ViewBag.Title = "订单导出";
    Layout = "~/Views/Shared/_LayoutAgentV2.cshtml";
}
@model List<QingFeng.Models.StoreInfo>

<style type="text/css">
    #order-table-list thead tr {
        background: none;
    }

    th {
        text-align: center;
    }

    #order-table-list td {
        vertical-align: middle;
    }
</style>

<style>
    .table-responsive table thead tr th {
        text-align: center;
    }

    .table-responsive table tfoot td a.active {
        background-color: #337ab7;
        color: #fff;
    }
</style>
<div class="page-header">
    <h1 class="form-inline">
        @ViewBag.title<small>
            &nbsp;<i class="icon icon-search"></i>筛选:
            <div class="form-group">
                <select name="storeId" id="storeId" class="form-control input-sm">
                    <option value="0">店铺</option>
                    @foreach (var item in Model)
                    {
                        <option value="@item.StoreId">@item.StoreName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                从&nbsp;<input type="text" class="form-control input-sm" placeholder="请选择开始时间" value="@(DateTime.Now.AddMonths(-1).ToString("yyyy-MM-hh"))" readonly="" style="width:100px;" name="start_time" id="start_time">
                到&nbsp;<input type="text" class="form-control input-sm" placeholder="请选择结束时间" value="@(DateTime.Now.ToString("yyyy-MM-hh"))" readonly="" name="end_time" id="end_time">
            </div>
            <div class="form-group">
                <button id="exportFile" class="btn btn-primary btn-sm" type="button"><i class="icon"></i>导出订单</button>
            </div>
        </small>
    </h1>
</div>

<link rel="stylesheet" href="/content/agent/css/bootstrap-datetimepicker.min.css">
<script src="/content/agent/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $.fn.datetimepicker.dates['zh-CN'] = {
        days: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六", "星期日"],
        daysShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六", "周日"],
        daysMin: ["日", "一", "二", "三", "四", "五", "六", "日"],
        months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
        monthsShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
        today: "今天",
        suffix: [],
        meridiem: ["上午", "下午"]
    };

    $(function () {
        $("#start_time").datetimepicker({ format: 'yyyy-mm-dd', language: 'zh-CN', 'endDate': '@DateTime.Now.ToString("yyyy-MM-dd")', minView: "month", autoclose: 1 }).on('changeDate', function (ev) {
            $('#end_time').datetimepicker('setStartDate', $('#start_time').val());
        });

        $("#end_time").datetimepicker({ format: 'yyyy-mm-dd', language: 'zh-CN', 'endDate': '@DateTime.Now.ToString("yyyy-MM-dd")', minView: "month", autoclose: 1 });
        $('#exportFile').click(function () {
            var start_time = $('#start_time').val();
            var end_time = $('#end_time').val();
            var storeId = $("#storeId").val();

            location.href = "http://www.qingfeng.com/order/ExportFile?storeId=" + storeId + '&beginDateStr=' + start_time + "&endDateStr=" + end_time;
        });
    });
</script>