@{
    ViewBag.Title = "CreateProduct";

    var colorSku = ViewBag.ColorSku as List<KeyValuePair<int, string>>;
}

@model QingFeng.Models.ProductBase

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="text-align: left;min-height: 55px;">
                    <label>手动创建子商品:(@Model.BaseName)</label>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">*基础货号：</label>
                            <div class="col-sm-5">
                                <input readonly="readonly" value="@Model.BaseNo" class="form-control" type="text" aria-required="true" aria-invalid="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">*货名：</label>
                            <div class="col-sm-5">
                                <input id="productName" name="productName" value="@(Model.BaseName)-" maxlength="120" class="form-control" type="text" aria-required="true" aria-invalid="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">*货号：</label>
                            <div class="col-sm-5">
                                <input id="productNo" name="productNo" maxlength="32" value="@(Model.BaseNo)-" class="form-control" type="text" aria-required="true" aria-invalid="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">*市场价：</label>
                            <div class="col-sm-5">
                                <input id="originalPrice" name="originalPrice" value="@(Model.OriginalPrice)" maxlength="10" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">*采购价：</label>
                            <div class="col-sm-5">
                                <input id="actualPrice" name="actualPrice" value="@(Model.ActualPrice)" maxlength="10" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">颜色：</label>
                            <div class="col-sm-5">
                                <select class="form-control m-b" id="skuId" name="categoryId">
                                    @foreach (var item in colorSku)
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-5 col-sm-offset-3">
                                <button class="btn btn-primary" id="submitBtn" type="submit">提交</button>
                                <button class="btn btn-primary" onclick="location.href = '/product/ProductManger?baseId=@(Model.BaseId)'; return false;" type="submit">返回</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/content/js/plugins/validate/jquery.validate.min.js"></script>
<script src="/content/js/plugins/validate/messages_zh.min.js"></script>
<script>
    $.validator.setDefaults({
        highlight: function(e) {
            $(e).closest(".form-group").removeClass("has-success").addClass("has-error");
        },
        success: function(e) {
            e.closest(".form-group").removeClass("has-error").addClass("has-success");
        },
        errorElement: "span",
        errorPlacement: function(e, r) {
            e.appendTo(r.is(":radio") || r.is(":checkbox") ? r.parent().parent().parent() : r.parent());
        },
        errorClass: "help-block m-b-none",
        validClass: "help-block m-b-none"
    });

    $(function() {
        var e = "<i class='fa fa-times-circle'></i> ";
        $("#signupForm").validate({
            rules: {
                productNo: {
                    required: true,
                    maxlength: 32,
                    minlength: 2
                },
                productName: {
                    required: true,
                    maxlength: 120,
                    minlength: 2
                },
                originalPrice: {
                    number: true,
                    min: 0
                },
                actualPrice: {
                    number: true,
                    min: 0
                },
                categoryId: {
                    required: true
                }
            },
            messages: {
                originalPrice: {
                    required: e + "请输入市场价",
                    min: e + "市场价不能低于0元"
                },
                actualPrice: {
                    required: e + "请输入市场价",
                    min: e + "采购价不能低于0元"
                },
                categoryId: {
                    range: e + "请选择商品颜色"
                }
            },
            submitHandler: function(form) {
                $("#submitBtn").attr("disabled", true);

                var productNo = $("#productNo").val().trim();
                var productName = $("#productName").val().trim();
                var originalPrice = $("#originalPrice").val().trim();
                var actualPrice = $("#actualPrice").val().trim();
                var skuId = $("#skuId").val();

                var productInfo = {
                    baseId: '@Model.BaseId', productNo: productNo,
                    productName: productName, originalPrice: originalPrice,
                    actualPrice: actualPrice, colorId: skuId
                };

                $core.ajax.postJSON("/product/AddProduct", productInfo, function (data) {
                    if (data === 1) {
                        layer.msg("添加商品成功", { success: function () { setTimeout(function () { location.reload() }, 1500) } });
                        return;
                    }
                    else if (data === 0) {
                        layer.msg("添加商品失败");
                    }
                    else if (data === 2) {
                        layer.msg("商品货号和货名不能为空");
                    }
                    else if (data === 3) {
                        layer.tips("货号已存在", "#productNo");
                    }
                    $("#submitBtn").attr("disabled", false);
                });
                return false;
            }
        });
    });
</script>