
@{
    ViewBag.Title = "EditBaseProduct";
}

@model QingFeng.Models.Product

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">*货号：</label>
                            <div class="col-sm-5">
                                <input readonly="readonly" maxlength="120" value="@Model.ProductNo" class="form-control" type="text" aria-required="true" aria-invalid="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">*货名：</label>
                            <div class="col-sm-5">
                                <input id="baseName" name="baseName" maxlength="120" value="@Model.ProductName" class="form-control" type="text" aria-required="true" aria-invalid="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">*市场价：</label>
                            <div class="col-sm-5">
                                <input id="originalPrice" name="originalPrice" value="@Model.OriginalPrice" maxlength="10" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">*采购价：</label>
                            <div class="col-sm-5">
                                <input id="actualPrice" name="actualPrice" value="@Model.ActualPrice" maxlength="10" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-5 col-sm-offset-3">
                                <button class="btn btn-primary" id="submitBtn" type="submit">提交</button>
                                <button class="btn btn-primary" onclick="location.href = '/product/createProduct?baseId=@Model.BaseId'; return false;" type="submit">返回</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/content/js/plugins/validate/jquery.validate.min.js"></script>
<script src="/content/js/plugins/validate/messages_zh.min.js"></script>
<script>
    $.validator.setDefaults({
        highlight: function (e) {
            $(e).closest(".form-group").removeClass("has-success").addClass("has-error");
        },
        success: function (e) {
            e.closest(".form-group").removeClass("has-error").addClass("has-success");
        },
        errorElement: "span",
        errorPlacement: function (e, r) {
            e.appendTo(r.is(":radio") || r.is(":checkbox") ? r.parent().parent().parent() : r.parent());
        },
        errorClass: "help-block m-b-none",
        validClass: "help-block m-b-none"
    });

    $(function () {
        var e = "<i class='fa fa-times-circle'></i> ";
        $("#signupForm").validate({
            rules: {
                baseName: {
                    required: true,
                    maxlength: 120,
                    minlength: 2
                },
                originalPrice: {
                    number: true,
                    min: 0
                },
                actualPrice: {
                    number: true,
                    min: 0
                },
                categoryId: {
                    required: true,
                    range: ["1", "2"]
                }
            },
            messages: {
                originalPrice: {
                    required: e + "请输入市场价",
                    min: e + "市场价不能低于0元"
                },
                actualPrice: {
                    required: e + "请输入市场价",
                    min: e + "采购价不能低于0元"
                },
                categoryId: {
                    range: e + "请选择商品分类"
                }
            },
            submitHandler: function (form) {
                $("#submitBtn").attr("disabled", true);

                var baseName = $("#baseName").val().trim();
                var originalPrice = $("#originalPrice").val().trim();
                var actualPrice = $("#actualPrice").val().trim();
                var categoryId = $("#categoryId").val();

                var productInfo = {
                    baseId: '@Model.BaseId', baseName: baseName, originalPrice: originalPrice, actualPrice: actualPrice, categoryId: categoryId
                };

                $core.ajax.postJSON("/admin/EditBaseProduct", productInfo, function (data) {
                    if (data === 1) {
                        layer.msg("商品编辑成功");
                    }
                    else if (data === 0) {
                        layer.msg("商品编辑失败");
                    }
                    else {
                        layer.msg(this.message);
                    }
                    $("#submitBtn").attr("disabled", false);
                });
                return false;
            }
        });
    });
</script>
