
@{
    ViewBag.Title = "DistributorImport";
    Layout = "~/Views/Shared/_LayoutAgentV2.cshtml";
}

@using QingFeng.Common
@model List<QingFeng.Models.UserInfo>

<div class="page-header">
    <h1 class="form-inline">
        代理商价格批量导入
        <a href="/price/index" class="btn btn-info btn-sm pull-right back-to-list"><i class="icon-circle-arrow-left"></i> 返回列表</a>
    </h1>
</div>
<form class="form-horizontal" role="form" id="goods-price-form" enctype="multipart/form-data" method="post" action="http://www.tonyzu.com/price/distributorFileImport">
    @Html.AntiForgeryToken()
    <div class="row" style="width:700px; margin:15px auto;">
        <div class="col-lg-10">
            <div class="form-group">
                <label for="file" class="col-sm-4 control-label">请选择文件</label>
                <div class="col-sm-6">
                    <input type="file" id="importFile" name="file">
                </div>
            </div>
            <div class="form-group">
                <label for="user_id" class="col-sm-4 control-label">所属代理商</label>
                <div class="col-sm-6">
                    <select name="user_id" id="user_id" class="form-control">
                        <option value="0">请选择代理商</option>
                        @foreach (var item in Model)
                        {
                            <option value="@item.UserId">@item.UserName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="brand_id" class="col-sm-4 control-label">所属品牌</label>
                <div class="col-sm-6">
                    <select name="brand_id" id="brand_id" class="form-control">
                        <option value="0">请选择品牌</option>
                        @foreach (var item in Enum.GetValues(typeof(AgentEnums.Brand)))
                        {
                            <option value="@item.GetHashCode()" @(ViewBag.brandId == item.GetHashCode() ? "selected" : "")>@item.ToString()</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-8" style="text-align:center;">
                    <button type="submit" class="btn btn-primary btn-sm">导入</button>&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-primary btn-sm" id="make-template">生成导入模板</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">

    $(function() {
        $("#goods-price-form").ajaxForm({
            beforeSubmit: function(formData, jqForm, options) {
                if ($('#user_id').val() <= 0) {
                    alert('请选择代理商');
                    return false;
                }
                if ($('#brand_id').val() <= 0) {
                    alert('请选择品牌');
                    return false;
                }
                if ($('#importFile').val() == '') {
                    alert('请选择文件');
                    return false;
                }
                return true;
            },
            success: function(response, status) {
                alert(response.message);
                return false;
            },
            dataType: 'json',
            timeout: 10000,
            error: function() { alert('发送请求失败'); }
        });

        $('#make-template').click(function() {
            var brand_id = $('#brand_id').val();
            if (brand_id <= 0) {
                alert('请选择品牌！');
                return false;
            }
            var user_id = $('#user_id').val();
            location.href = "http://www.tonyzu.com/price/DistributorImportExcel?brandId=" + brand_id + '&userId=' + user_id;
        });
        $('.back-to-list').off('click').on('click', function () {
            var url = $('#page-content').attr('data-back-url');
            if (!url) {
                url = $(this).attr('href');
            }
            $.getPageContent({ url: url });
            return false;
        });
    });
</script>
