
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAgentV2.cshtml";

    var agentList = ViewBag.agentList as List<QingFeng.Models.UserInfo>;
}
@model List<QingFeng.Models.StoreInfo>

<div class="page-header">
    <h1 class="form-inline">
        店铺列表
        <a href="http://www.tonyzu.com/shop/add" class="btn btn-info btn-sm pull-right add-modal"> <i class="glyphicon glyphicon-plus"></i> 添加店铺</a>
    </h1>
</div>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="list-data-head">
                <th>店铺名称</th>
                <th>店铺代号</th>
                <th>所属平台</th>
                <th>所属分销商</th>
                <th>状态</th>
                <th>添加时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr align="center">
                    <td id="shop-name-35">@item.StoreName</td>
                    <td>@item.StoreCode</td>
                    <td>@item.StoreType.ToString()</td>
                    <td>@item.MasterUserName</td>
                    <td><span class="label @(item.Status == 0 ? "label-success":"label-warning")">@(item.Status == 0 ? "正常" : "已关闭")</span></td>
                    <td>@item.CreateDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>
                        <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                            <a href="http://www.tonyzu.com/shop/edit?storeId=@item.StoreId" title="编辑店铺" class="green edit-modal"> <i class="icon-pencil bigger-130"></i> </a>
                            @if (item.Status == 0)
                            {
                                <a href="http://www.tonyzu.com/shop/updateStatus?storeId=@item.StoreId&status=1" title="" class="red delete-modal" data-goods-id="35" data-name="@(item.StoreName + item.MasterUserName)" data-trigger="focus" data-placement="left" tabindex="0" role="button" data-title="关闭" data-original-title="关闭店铺"> <i class="icon-trash bigger-130"></i> </a>
                            }
                            else
                            {
                                <a href="http://www.tonyzu.com/shop/updateStatus?storeId=@item.StoreId&status=0" title="" class="red delete-modal" data-goods-id="35" data-name="@(item.StoreName + item.MasterUserName)" data-trigger="focus" data-placement="left" tabindex="0" role="button" data-title="打开" data-original-title="打开店铺"> <i class="icon-trash bigger-130"></i></a>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="etop-modal" tabindex="-1" role="dialog" aria-labelledby="etop-modal-label" style="display: none;">
    <style type="text/css">
        #distributor_id {
            display: none;
            height: 250px;
        }
    </style>
</div>
<script type="text/javascript">
    $(function () {
        $.etopConfirm();
        $.showModal({
            formId: 'shop-form',
            selector: '.edit-modal',
            beforeSubmit: function (formData, jqForm, options) {
                var l = formData.length;
                for (var i = 0; i < l; i++) {
                    if (!formData[i].value) {
                        alert('店铺所有资料都不能为空的哦!亲');
                        return false;
                    }
                }
                return true;
            }
        });

        $('.add-modal').click(function () {
            var url = $(this).attr('href');
            $.getPageContent({ url: url });
            return false;
        });
    });
</script>
