
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAgentV2.cshtml";

}
@model List<QingFeng.Models.StoreInfo>

<div class="page-header">
    <h1 class="form-inline">
        店铺列表
        <a href="http://www.tonyzu.com/shop/add" class="btn btn-info btn-sm pull-right add-modal"> <i class="glyphicon glyphicon-plus"></i> 添加店铺</a>
    </h1>
</div>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="list-data-head">
                <th>店铺名称</th>
                <th>店铺代号</th>
                <th>所属平台</th>
                <th>所属分销商</th>
                <th>状态</th>
                <th>添加时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr align="center">
                    <td id="shop-name-35">@item.StoreName</td>
                    <td>@item.StoreCode</td>
                    <td>@item.StoreType.ToString()</td>
                    <td>@item.MasterUserName</td>
                    <td><span class="label @(item.Status == 0 ? "label-success":"label-warning")">@(item.Status == 0 ? "正常" : "已关闭")</span></td>
                    <td>@item.CreateDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>
                        <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                            <a href="http://www.tonyzu.com/shop/edit?storeId=@item.StoreId" title="编辑店铺" class="green edit-modal"> <i class="icon-pencil bigger-130"></i> </a>
                            @if (item.Status == 0)
                            {
                                <a href="http://www.tonyzu.com/shop/updateStatus?storeId=@item.StoreId&status=1" title="" class="red delete-modal" data-goods-id="35" data-name="@(item.StoreName +"-"+ item.MasterUserName)" data-trigger="focus" data-placement="left" tabindex="0" role="button" data-title="关闭" data-original-title="关闭店铺"> <i class="icon-trash bigger-130"></i> </a>
                            }
                            else
                            {
                                <a href="http://www.tonyzu.com/shop/updateStatus?storeId=@item.StoreId&status=0" title="" class="green delete-modal" data-goods-id="18" data-name="@(item.StoreName +"-"+ item.MasterUserName)" data-trigger="focus" data-placement="left" tabindex="0" role="button" data-title="开启店铺" data-original-title="开启店铺"> <i class="glyphicon glyphicon-ok bigger-130"></i> </a>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(function () {
        $.etopConfirm();
        $.showModal({
            formId: 'shop-form',
            selector: '.edit-modal,.add-modal',
            beforeSubmit: function (formData, jqForm, options) {
                var shopType = jqForm.find("#shop_type").val();
                if (shopType === "0") {
                    layer.msg("请选择店铺类型");
                    return false;
                }
                return true;
            },
            success: function (response, status) {
                if (response.data === 1) {
                    layer.msg("操作成功");
                    $('#etop-modal').modal('hide');
                    $.pageReload();
                }
                else {
                    layer.msg("操作失败");
                }
                return false;
            }
        });
    });
</script>
