
@{
    ViewBag.Title = "ProductStocks";
    Layout = "~/Views/Shared/_LayoutAgent.cshtml";
    var allSkus = (ViewBag.allSkus as Dictionary<int, string>) ?? new Dictionary<int, string>();
}
@model QingFeng.Models.ProductBase
@using System.Linq
<style type="text/css">
    table tbody td {
        text-align: center;
        vertical-align: middle !important;
    }

    #good_ids {
        display: none;
        height: 250px;
        width: 150px;
        position: absolute;
    }
</style>
<div class="page-header" id="filter_goods">
    <h1 class="form-inline">
        &nbsp;查询库存 <small>
            <i class="icon-search"></i> 筛选:
            <div class="form-group">
                <select id="gender_id" class="form-control input-sm filter_goods">
                    <option value="0">分类</option>
                    <option value="1" @(ViewBag.categoryId == 1 ? "selected" : "")>男鞋</option>
                    <option value="2" @(ViewBag.categoryId == 2 ? "selected" : "")>女鞋</option>
                </select>
            </div>
            <div class="form-group">
                <label class="sr-only" for="goods_keyword">关键字</label>
                <input type="text" placeholder="请输入商品名称或货号" value="@Model.BaseNo" class="form-control" name="goods_ipt" id="goods_ipt">
                <input type="hidden" value="@Model.BaseNo" class="form-control" name="goods_ids" id="ipt_goods_id">
                <select id="good_ids" class="form-control"></select>
            </div>

            <button type="button" class="btn btn-primary btn-sm " id="do-goods-filter">过滤</button>
        </small>
    </h1>
</div>
<!-- /.page-header -->
<!-- PAGE CONTENT BEGINS -->
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="center" rowspan="2">品名</th>
                <th class="center" rowspan="2">货号</th>
                <th class="center" rowspan="2">颜色</th>
                <th class="center" rowspan="2">子货名</th>
                <th class="center" rowspan="2">分类</th>
                <th class="center" rowspan="2">小计</th>
                <th class="center" colspan="6">尺码</th>
            </tr>
            <tr>
                @foreach (var item in allSkus)
                {
                    <th class="center">@item.Value</th>
                }
            </tr>
        </thead>

        <tbody>
            @foreach (var subProduct in Model.SubProduct)
            {
                var dict = subProduct.ProductStocks.GroupBy(t => t.SkuId).ToDictionary(c => c.Key, c => c.First().StockNum);
                <tr align="center">
                    <td rowspan="1">@Model.BaseName</td>
                    <td rowspan="1">@Model.BaseNo</td>
                    <td rowspan="1">@subProduct.ProductNo</td>
                    <td rowspan="1">@subProduct.ProductName</td>
                    <td rowspan="1">@Model.CategoryId.ToString()</td>
                    <td>@subProduct.ProductStocks.Sum(t => t.StockNum)</td>
                    @foreach (var item in allSkus)
                    {
                        <td class="center">@(dict.ContainsKey(item.Key) ? dict[item.Key] : 0)</td>
                    }
                </tr>
            }
            <!--输出合计数量-->
            <tr align="center">
                <td colspan="5" class="text-right" style="padding-right: 28px;">合计</td>
                <td>193</td>
                <td>24</td>
                <td>32</td>
                <td>38</td>
                <td>31</td>
            </tr>
            <!--输出合计数量 end-->
        </tbody>


    </table>
</div>
<!-- /.table-responsive -->
<!-- PAGE CONTENT ENDS -->

<script type="text/javascript">

    $(function () {

        $.etopConfirm();

        $('#do-goods-filter').click(function () {
            var goods_id = $('#ipt_goods_id').val().trim();
            var categoryId = $("#gender_id").val();
            if (goods_id === '') {
                layer.msg('请选择或输入需要过滤的条件');
                return;
            }

            var url = '/agent/ProductStocks?baseNo=' + goods_id + '&categoryId=' + categoryId;

            $.getPageContent({ url: url });
        });

        $('.pagination a').off('click').on('click', function () {
            var url = $(this).attr('href');
            $.getPageContent({ url: url });
            return false;
        });

        $('#goods_ipt').bind('input propertychange', function () {
            var categoryId = $("#gender_id").val();
            var val = $(this).val().trim();
            if (val === '') {
                $('.filter_goods').removeAttr('disabled');
                $('#ipt_goods_id').val('');
                $('#good_ids').hide();
                return;
            }
            $.getJSON('/agent/SearchBaseProductNo?categoryId=' + categoryId + '&keyWords=' + val, function (response) {
                if (response.ret !== 0) {
                    layer.msg('请求失败');
                    return;
                }
                var list = response.data;
                var options = '';
                $.each(list, function (i, item) {
                    options += '<option value=' + item.baseNo + '>' + item.baseNo + '</option>';
                });
                $('#good_ids').html(options);
                $('#good_ids').show();
                good_ids.size = 25;
                $('#good_ids option').click(function () {
                    $('.filter_goods').attr('disabled', 'disabled');
                    val = $(this).html();
                    var id = $(this).val();
                    $('#goods_ipt').val(val);
                    $('#ipt_goods_id').val(id);
                    $('#good_ids').hide();
                });
            });
        });
    })
</script>

