
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAgentV2.cshtml";
    var index = 0;
}
@using QingFeng.Common
@model QingFeng.Common.ApiCore.Result.ApiPageList<QingFeng.Models.ProductBase>

<style type="text/css">
    .pagination .active {
        color: black;
    }

    #table-list td {
        vertical-align: middle;
    }
</style>
<div class="page-header">
    <h1 class="form-inline">
        商品列表 <small>
            <i class="icon-search"></i> 筛选:
            <div class="form-group">
                <label class="sr-only" for="brand_id">品牌</label>
                <select name="brand_id" id="brand_id" class="form-control input-sm">
                    <option value="0">品牌</option>
                    @foreach (var item in Enum.GetValues(typeof(AgentEnums.Brand)))
                    {
                        <option value="@item.GetHashCode()" @(ViewBag.brandId == item.GetHashCode() ? "selected" : "")>@item.ToString()</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="sr-only" for="category_id">分类</label>
                <select name="category_id" id="category_id" class="form-control input-sm">
                    <option value="0">分类</option>
                    <optgroup label="鞋">
                        @foreach (var item in Enum.GetValues(typeof(AgentEnums.Category)))
                        {
                            <option value="@item.GetHashCode()" @(ViewBag.categoryId == item.GetHashCode() ? "selected" : "")>@item.ToString()</option>
                        }
                    </optgroup>
                </select>
            </div>
            <div class="form-group">
                <label class="sr-only" for="order_keyword">关键字</label>
                <input type="text" name="order_keyword" id="goods_keyword" value="@ViewBag.keyWord" style="width: 160px;" class="form-control input-sm" placeholder="商品名称或货号">
            </div>
            <button type="button" class="btn btn-primary btn-sm" id="order-search">搜索</button>
        </small>
        <a href="http://www.qingfeng.com/goods/add" data-url="http://www.qingfeng.com/goods/add" class="btn btn-info btn-sm pull-right load-view"> <i class="glyphicon glyphicon-plus"></i> 添加商品</a>
    </h1>
</div>
<!-- /.page-
header -->
<!-- P
AGE CO
NTENT BEGINS -->
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" id="table-list">
        <thead>
            <tr>
                <th class="center" rowspan="2">品名</th>
                <th class="center" rowspan="2">货号</th>
                <th class="center" rowspan="2">品牌</th>
                <th class="center" rowspan="2">分类</th>
                <th class="center" rowspan="2">性别</th>
                <th class="center" colspan="3">SPU</th>
                <th class="center" rowspan="2">状态</th>
                <th class="center" rowspan="2">操作</th>
            </tr>
            <tr>
                <th class="center">颜色</th>
                <th class="center">市场价</th>
                <th class="center">最低售价</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PageList)
            {
                index = 0;
                int productCount = item.SubProduct.Count();
                foreach (var product in item.SubProduct)
                {
                    <tr align="center">
                        @if (index == 0)
                        {
                            <td rowspan="@productCount" id="goods-name-@item.BaseId">7-@item.BaseName</td>
                            <td rowspan="@productCount">@item.BaseNo</td>
                            <td rowspan="@productCount">@item.BrandId.ToString()</td>
                            <td rowspan="@productCount">@item.CategoryId.ToString()</td>
                            <td rowspan="@productCount">@item.SexId.ToString()</td>
                        }
                        <td>@product.ProductNo</td>
                        <td>@product.OriginalPrice</td>
                        <td>@product.ActualPrice</td>
                        @if (index == 0)
                        {
                            <td rowspan="@productCount"><span class="label @(item.Status == 0 ?"label-success":"label-warning")">@(item.Status == 0 ? "正常" : "已删除")</span></td>
                            <td rowspan="@productCount">
                                <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                    <!-- 查看商品 -->
                                    <a class="load-view" href="http://www.qingfeng.com/goods/view?baseId=@item.BaseId" data-url="http://www.qingfeng.com/goods/view?baseId=@item.BaseId" title="查看商品详情"> <i class="icon-zoom-in bigger-130"></i> </a>
                                    <!-- 上下架商品 -->
                                    <a href="http://www.qingfeng.com/goods/set?baseId=@item.BaseId" title="上下架商品" class="blue load-content set-goods"> <i class="icon-wrench bigger-130"></i> </a>
                                    <!-- 编辑商品 -->
                                    <a href="http://www.qingfeng.com/goods/edit?baseId=@item.BaseId" class="load-view" data-url="http://www.qingfeng.com/goods/edit?baseId=@item.BaseId" title="编辑商品"> <i class="icon-pencil bigger-130"></i> </a>
                                </div>
                            </td>
                        }
                    </tr>
                    index++;
                }
            }
        </tbody>
        <tfoot>
            <tr align="center">
                <td colspan="10">
                    @(Html.Raw(Model.GetPagerHtml()))
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<!-- /.table-responsive -->
<!-- PAGE CONTENT ENDS -->
<script type="text/javascript">
    function goPage(page) {
        alert(page);
        return false;

    }

    $('#order-search').click(function () {
        var brand_id = $('#brand_id').val() * 1;
        var category_id = $('#category_id').val() * 1;
        var keyword = $('#goods_keyword').val();

        if (brand_id <= 0 && category_id <= 0 && keyword == '') {
            alert('请选择或输入要筛选的条件！');
            return false;
        }

        var url = 'http://www.qingfeng.com/goods/index';
        var str = '?keyWord=' + keyword;
        str = str + '&brandId=' + brand_id;
        str = str + '&categoryId=' + category_id;

        url = url + str;
        $.getPageContent({ url: url });

    });

    $.showModal({
        formId: 'set-goods-form',
        beforeSubmit: function (formData, jqForm, options) {
            return true;
        },
        success: function (response, status) {
            if (response.data === 1) {
                layer.msg("保存成功");
                $('#etop-modal').modal('hide');
                $.pageReload();
            }
            else {
                alert(response.message);
            }
            return false;
        },
        selector: '.set-goods'
    });

    $('.load-view').click(function () {
        var url = $(this).data('url');
        // alert(url);
        $.getPageContent({ url: url });
        return false;
    });

    $('.pagination a').click(function () {
        var url = $(this).attr('href');
        $.getPageContent({ url: url });
        return false;
    });
</script>

