
@{
    ViewBag.Title = "Set";
    Layout = "~/Views/Shared/_LayoutAgentV2.cshtml";
}
@model QingFeng.Models.ProductBase

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="edit-model-label">商品上下架</h4>
        </div>
        <form class="form-horizontal" role="form" id="set-goods-form" method="post" action="http://www.tonyzu.com/goods/set">
            <div class="panel panel-info">
                <!-- Default panel contents -->
                <div class="panel-heading">基本资料</div>
                <div class="panel-body">
                    <label class="col-sm-2 control-label">商品名称：</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control ptn" value="@Model.BaseName" disabled="disabled">
                    </div>
                    <label class="col-sm-2 control-label">商品货号：</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control ptn" value="@Model.BaseNo" disabled="disabled">
                    </div>
                    <label class="col-sm-2 control-label">所属分类：</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control ptn" value="@Model.CategoryId.ToString()" disabled="disabled">
                    </div>
                    <label class="col-sm-2 control-label">所属品牌：</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control ptn" value="@Model.BaseId.ToString()" disabled="disabled">
                    </div>
                    <label class="col-sm-2 control-label">性别：</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control ptn" value="@Model.SexId.ToString()" disabled="disabled">
                    </div>
                    <label class="col-sm-2 control-label">商品状态：</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control ptn" value="@(Model.Status == 0 ? "正常" : "已删除")" disabled="disabled">
                    </div>
                </div>
            </div>
            <input type="hidden" name="baseId" value="@Model.BaseId" />
            <div class="panel panel-info">
                <div class="panel-heading">颜色上下架</div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>颜色</th>
                            <th>市场价</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.SubProduct)
                        {
                            <tr>
                                <td>@item.ProductNo</td>
                                <td>@item.OriginalPrice</td>
                                <td><button type="button" class="btn @(item.Status == 0 ? "btn-success" : "btn-warning" )">@(item.Status == 0 ? "已上架" : "已下架" )</button></td>
                                <input type="hidden" name="spu[@item.ProductId]" id="spu_@(item.ProductNo)" class="spu" value="@(item.Status)">
                                <td><button type="button" value="@(item.Status)" class="btn @(item.Status == 0 ? "btn-warning" : "btn-success" ) xj xj_@(item.ProductNo)" name="@(item.ProductNo)" value="@(item.Status == 0)">@(item.Status == 0 ? "下架" : "上架" )</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!-- <button type="button" class="btn btn-primary pull-right all_gb" name="1">全部下架：</button>-->
            </div>
            <div class="modal-footer" style="text-align:center;">
                <input type="hidden" name="action" value="dosubmit">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn @(Model.Status == 0 ? "btn-warning" : "btn-success" ) all_xj" value="@Model.Status">@(Model.Status == 0 ? "全部下架" : "全部上架" )</button>
                <button type="submit" id="submitForm" class="btn btn-primary">保存</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        $('.xj').click(function() {
            var spu = $(this).attr('name');
            var val = $(this).val();
            if (val == 1) {
                $('#spu_' + spu).val('0');
                $(this).val('0').html('下架').removeClass("btn-success").addClass("btn-warning");
            } else {
                $('#spu_' + spu).val('1');
                $(this).val('1').html('上架').addClass("btn-success").removeClass("btn-warning");
            }
        });
        $('.all_xj').click(function() {
            var val = $(this).val();
            if (val == 1) {
                $(this).val('0');
                $('.spu').val('0');
                $('.xj').html('下架').addClass("btn-warning").removeClass("btn-success");
                $(this).html('全部下架').removeClass("btn-success").addClass("btn-warning");
            } else {
                $(this).val('1');
                $('.spu').val('1');
                $('.xj').html('上架').addClass("btn-success").removeClass("btn-warning");
                $(this).html('全部上架').removeClass("btn-warning").addClass("btn-success");
            }
        });

        //$("#submitForm").click(function() {
        //    $('#set-goods-form').ajaxSubmit({
        //        type: "post",
        //        url: "/goods/set",
        //        dataType: "json",
        //        success: function(data) {
        //            if (data.ret === 0 && data.data === 1) {
        //                layer.msg("保存成功");
        //            } else {
        //                layer.msg("保存失败");
        //            }
        //        }
        //    });
        //});
    });
</script>
